<!DOCTYPE html>
<html>
  <head>
    <title>Awesomedogs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="col-3 slogan">
        We Love Dogs!
      </div>
      <div class="col-4 links">
        <%= link_to 'Add your dog', new_dog_path %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
